<div class="content-container" style="margin-top: 0px;">
    <div class="tile intro">
        <div class="intro-text">
            <h1>Welcome {$user_name->naam}</h1>
        </div>

        <div class="profile">
            <div class="shopping-cart icon">
                <a href="{$base_url}profile/shoppingcart"><i class="fas fa-shopping-cart fa-7x"></i></a>
            </div>

            <div class="user-profile icon">
                <a href=""><i class="fas fa-user fa-7x"></i></a>
            </div>

            <div class="payment-methode icon">
                <a href=""><i class="fas fa-credit-card fa-7x"></i></a>
            </div>
        </div>
    </div>

    <div class="tile">
        <div class="intro-text">

        </div>
    </div>

    <div class="tile three">
        <div class="intro-text">

        </div>
    </div>

    <div class="tile four">

    </div>
</div>

{literal}
<script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            $('.header-nav--wrapper').fadeIn(500);
        });
    })(jQuery);
</script>
{/literal}